page-game-selectmode {
    .test {
        text-align: center;
        padding-top: 120px;
    }

    .button {
        // background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 21px 100px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 27px;
        margin: 4px 2px;
        // -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 20px;
    }
    
    .button1 {
        background-color: #FFD600; 
        color: white; 
        border: 3px solid white;
    }
    
    .button1:hover {
        background-color: white;
        color: #FFD600;
    }

    .button2 {
        background-color: #FFD600; 
        color: white; 
        border: 3px solid white;
    }
    
    .button2:hover {
        background-color: white;
        color: #FFD600;
    }
    
}
